Repository Qloozen/HCAID, pull requests merged in 2023-10, with the labels that each got.

#1 HCAID-0: Setup next for web
  lung-vitality/.eslintrc.json
  lung-vitality/.gitignore
  lung-vitality/README.md
  lung-vitality/next.config.js
  lung-vitality/package-lock.json
  lung-vitality/package.json
  lung-vitality/postcss.config.js
  lung-vitality/public/next.svg
  lung-vitality/public/vercel.svg
  lung-vitality/src/app/favicon.ico
  lung-vitality/src/app/globals.css
  lung-vitality/src/app/layout.tsx
  lung-vitality/src/app/page.tsx
  lung-vitality/tailwind.config.ts
  lung-vitality/tsconfig.json
  smart-lungs/.eslintrc.json
  smart-lungs/.gitignore
  smart-lungs/README.md
  smart-lungs/next.config.js
  smart-lungs/package-lock.json
  smart-lungs/package.json
  smart-lungs/postcss.config.js
  smart-lungs/public/next.svg
  smart-lungs/public/vercel.svg
  smart-lungs/src/app/favicon.ico
  smart-lungs/src/app/globals.css
  smart-lungs/src/app/layout.tsx
  smart-lungs/src/app/page.tsx
  smart-lungs/tailwind.config.ts
  smart-lungs/tsconfig.json
Labels: Good app, Bad app

#2 HCAID-0: Added Docker support
  docker-compose.dev.yml
  docker-compose.prod.yml
  lung-vitality/dev.Dockerfile
  lung-vitality/docker/docker-services.dev.yml
  lung-vitality/docker/docker-services.prod.yml
  lung-vitality/next.config.js
  lung-vitality/prod.Dockerfile
  lung-vitality/src/app/page.tsx
  smart-lungs/dev.Dockerfile
  smart-lungs/docker/docker-services.dev.yml
  smart-lungs/docker/docker-services.prod.yml
  smart-lungs/next.config.js
  smart-lungs/prod.Dockerfile
  smart-lungs/src/app/page.tsx
Labels: Good app, Bad app

#3 HCAID-0: Setup
  docker-compose.dev.yml
  docker-compose.prod.yml
  lung-vitality/.eslintrc.json
  lung-vitality/.gitignore
  lung-vitality/README.md
  lung-vitality/dev.Dockerfile
  lung-vitality/docker/docker-services.dev.yml
  lung-vitality/docker/docker-services.prod.yml
  lung-vitality/next.config.js
  lung-vitality/package-lock.json
  lung-vitality/package.json
  lung-vitality/postcss.config.js
  lung-vitality/prod.Dockerfile
  lung-vitality/public/next.svg
  lung-vitality/public/vercel.svg
  lung-vitality/src/app/favicon.ico
  lung-vitality/src/app/globals.css
  lung-vitality/src/app/layout.tsx
  lung-vitality/src/app/page.tsx
  lung-vitality/tailwind.config.ts
  lung-vitality/tsconfig.json
  smart-lungs/.eslintrc.json
  smart-lungs/.gitignore
  smart-lungs/README.md
  smart-lungs/dev.Dockerfile
  smart-lungs/docker/docker-services.dev.yml
  smart-lungs/docker/docker-services.prod.yml
  smart-lungs/next.config.js
  smart-lungs/package-lock.json
  smart-lungs/package.json
  smart-lungs/postcss.config.js
  smart-lungs/prod.Dockerfile
  smart-lungs/public/next.svg
  smart-lungs/public/vercel.svg
  smart-lungs/src/app/favicon.ico
  smart-lungs/src/app/globals.css
  smart-lungs/src/app/layout.tsx
  smart-lungs/src/app/page.tsx
  smart-lungs/tailwind.config.ts
  smart-lungs/tsconfig.json
Labels: Good app, Bad app

#4 HCAID: Fixed bug in compose prod
  docker-compose.prod.yml
Labels: bug

#5 HCAID: Production fix
  docker-compose.prod.yml
Labels: bug

#17 HCAID-0: Shadcn setup
  README.md
  lung-vitality/components.json
  lung-vitality/package-lock.json
  lung-vitality/package.json
  lung-vitality/src/app/globals.css
  lung-vitality/src/app/page.tsx
  lung-vitality/src/lib/utils.ts
  lung-vitality/tailwind.config.ts
  smart-lungs/components.json
  smart-lungs/package-lock.json
  smart-lungs/package.json
  smart-lungs/src/app/globals.css
  smart-lungs/src/app/page.tsx
  smart-lungs/src/lib/utils.ts
  smart-lungs/tailwind.config.ts
Labels: Setup

#18 HCAID-0: Configured tailwind
  lung-vitality/package-lock.json
  lung-vitality/package.json
  lung-vitality/prettier.config.js
  smart-lungs/package-lock.json
  smart-lungs/package.json
  smart-lungs/prettier.config.js
Labels: Setup

#27 HCAID-0: home page good app
  lung-vitality/public/logo.svg
  lung-vitality/public/medicine.svg
  lung-vitality/public/next.svg
  lung-vitality/public/vercel.svg
  lung-vitality/src/app/(main)/experiences/page.tsx
  lung-vitality/src/app/(main)/explanation/page.tsx
  lung-vitality/src/app/(main)/feedback/page.tsx
  lung-vitality/src/app/(main)/layout.tsx
  lung-vitality/src/app/(main)/page.tsx
  lung-vitality/src/app/favicon.ico
  lung-vitality/src/app/icon.svg
  lung-vitality/src/app/layout.tsx
  lung-vitality/src/app/page.tsx
  lung-vitality/src/components/mobile-nav.tsx
  lung-vitality/src/components/navbar.tsx
  lung-vitality/src/components/styled-button.tsx
  lung-vitality/tailwind.config.ts
Labels: Good app

#28 HCAID-0: Explanation page good-app
  lung-vitality/public/info.svg
  lung-vitality/public/question.svg
  lung-vitality/src/app/(main)/explanation/page.tsx
Labels: Good app

#29 HCAID-0: Question flow
  lung-vitality/package-lock.json
  lung-vitality/package.json
  lung-vitality/src/app/(main)/page.tsx
  lung-vitality/src/components/privacy-message.tsx
  lung-vitality/src/components/question-dialog.tsx
  lung-vitality/src/components/question-form.tsx
  lung-vitality/src/components/styled-button.tsx
  lung-vitality/src/components/test-results.tsx
  lung-vitality/src/components/ui/button.tsx
  lung-vitality/src/components/ui/checkbox.tsx
  lung-vitality/src/components/ui/dialog.tsx
  lung-vitality/src/components/ui/form.tsx
  lung-vitality/src/components/ui/input.tsx
  lung-vitality/src/components/ui/label.tsx
  lung-vitality/src/components/ui/select.tsx
Labels: Good app

#30 HCAID-0: Feedback
  lung-vitality/src/app/(main)/feedback/page.tsx
  lung-vitality/src/components/ui/textarea.tsx
Labels: Good app

#31 HCAID-0: Experiences good app
  lung-vitality/src/app/(main)/experiences/page.tsx
  lung-vitality/src/components/ui/card.tsx
Labels: Good app

#32 Release base for good app
  README.md
  lung-vitality/components.json
  lung-vitality/package-lock.json
  lung-vitality/package.json
  lung-vitality/prettier.config.js
  lung-vitality/public/info.svg
  lung-vitality/public/logo.svg
  lung-vitality/public/medicine.svg
  lung-vitality/public/next.svg
  lung-vitality/public/question.svg
  lung-vitality/public/vercel.svg
  lung-vitality/src/app/(main)/experiences/page.tsx
  lung-vitality/src/app/(main)/explanation/page.tsx
  lung-vitality/src/app/(main)/feedback/page.tsx
  lung-vitality/src/app/(main)/layout.tsx
  lung-vitality/src/app/(main)/page.tsx
  lung-vitality/src/app/favicon.ico
  lung-vitality/src/app/globals.css
  lung-vitality/src/app/icon.svg
  lung-vitality/src/app/layout.tsx
  lung-vitality/src/app/page.tsx
  lung-vitality/src/components/mobile-nav.tsx
  lung-vitality/src/components/navbar.tsx
  lung-vitality/src/components/privacy-message.tsx
  lung-vitality/src/components/question-dialog.tsx
  lung-vitality/src/components/question-form.tsx
  lung-vitality/src/components/test-results.tsx
  lung-vitality/src/components/ui/button.tsx
  lung-vitality/src/components/ui/card.tsx
  lung-vitality/src/components/ui/checkbox.tsx
  lung-vitality/src/components/ui/dialog.tsx
  lung-vitality/src/components/ui/form.tsx
  lung-vitality/src/components/ui/input.tsx
  lung-vitality/src/components/ui/label.tsx
  lung-vitality/src/components/ui/select.tsx
  lung-vitality/src/components/ui/textarea.tsx
  lung-vitality/src/lib/utils.ts
  lung-vitality/tailwind.config.ts
  smart-lungs/components.json
  smart-lungs/package-lock.json
  smart-lungs/package.json
  smart-lungs/prettier.config.js
  smart-lungs/src/app/globals.css
  smart-lungs/src/app/page.tsx
  smart-lungs/src/lib/utils.ts
  smart-lungs/tailwind.config.ts
Labels: Good app

#33 HCAID-0: Remove invalid import
  lung-vitality/src/components/question-dialog.tsx
Labels: Bug

#34 Release good app 2
  lung-vitality/src/components/question-dialog.tsx
Labels: Bug

#36 HCAID-0: Added server
  api/Dockerfile
  api/docker-services.yml
  api/models/rf_model.pkl
  api/server.py
  docker-compose.dev.yml
  docker-compose.prod.yml
Labels: AI Model

#37 Release for API
  api/Dockerfile
  api/docker-services.yml
  api/models/rf_model.pkl
  api/server.py
  docker-compose.dev.yml
  docker-compose.prod.yml
Labels: AI Model

#35 Bad app home page and questionaire start/base
  smart-lungs/package-lock.json
  smart-lungs/package.json
  smart-lungs/public/cigarettes.png
  smart-lungs/public/logo.svg
  smart-lungs/src/app/(main)/layout.tsx
  smart-lungs/src/app/(main)/page.tsx
  smart-lungs/src/app/favicon.ico
  smart-lungs/src/app/icon.svg
  smart-lungs/src/app/layout.tsx
  smart-lungs/src/app/page.tsx
  smart-lungs/src/components/mobile-nav.tsx
  smart-lungs/src/components/navbar.tsx
  smart-lungs/src/components/question-dialog.tsx
  smart-lungs/src/components/question-form.tsx
  smart-lungs/src/components/test-results.tsx
  smart-lungs/src/components/ui/button copy.tsx
  smart-lungs/src/components/ui/button.tsx
  smart-lungs/src/components/ui/card.tsx
  smart-lungs/src/components/ui/checkbox.tsx
  smart-lungs/src/components/ui/dialog.tsx
  smart-lungs/src/components/ui/form.tsx
  smart-lungs/src/components/ui/input.tsx
  smart-lungs/src/components/ui/label.tsx
  smart-lungs/src/components/ui/select.tsx
  smart-lungs/src/components/ui/textarea.tsx
  smart-lungs/tailwind.config.ts
Labels: Bad app

#40 Added shap plt
  api/Dockerfile
  api/server.py
  api/shap/explainer.bz2
Labels: AI Model

#42 HCAID-0: Changed the model
  api/models/rf_model_v1.pkl
  api/models/rf_model_v2.pkl
  api/models/versions.txt
  api/server.py
Labels: AI Model
