Repository Qloozen/HCAID, pull requests merged in 2023-11, with the labels that each got.

#44 HCAID-38: Backend integration Lung Vitality
  lung-vitality/src/app/api/predict/route.ts
  lung-vitality/src/components/question-dialog.tsx
  lung-vitality/src/components/question-form.tsx
  lung-vitality/src/components/test-results.tsx
  lung-vitality/src/models/PredictionModel.ts
Labels: Good app, AI Model

#48 HCAID-0: Improvements
  api/server.py
  api/shap/explainer_v1.bz2
  api/shap/explainer_v2.bz2
  lung-vitality/package-lock.json
  lung-vitality/package.json
  lung-vitality/src/app/(main)/experiences/page.tsx
  lung-vitality/src/app/(main)/explanation/page.tsx
  lung-vitality/src/app/(main)/feedback/page.tsx
  lung-vitality/src/app/(main)/page.tsx
  lung-vitality/src/components/question-dialog.tsx
  lung-vitality/src/components/question-form.tsx
  lung-vitality/src/components/test-results.tsx
Labels: Good app, AI Model

#53 Bad app experiences
  smart-lungs/src/app/(main)/experiences/page.tsx
Labels: Bad app

#55 Bad model integration to bad app
  smart-lungs/src/app/api/predict-bad/route.ts
  smart-lungs/src/components/question-dialog.tsx
  smart-lungs/src/components/question-form.tsx
  smart-lungs/src/components/test-results.tsx
Labels: Bad app, AI Model
